* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #283048, #859398);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 20px;
}

.form-container {
    background: linear-gradient(135deg, #859398, #283048);
    width: 100%;
    max-width: 450px;

    padding: 30px;
    border-radius: 12px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    color: white;
}

input {
    width: 100%;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #667eea;
}

.password-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.password-wrapper input {
    flex: 1;
}

#togglePassword {
    padding: 12px;
    border: none;
    border-radius: 5px;
   
    background: #667eea;
    color: white;
    cursor: pointer;
}

small {
    display: block;
    margin-top: 6px;
    color: white;
    font-size: 11px;
}

button {
    cursor: pointer;
}

.submit-btn,
.reset-btn {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 6px;

    font-size: 15px;
    margin-top: 10px;
}

.submit-btn {
    background: #28a745;
    color: white;
}

.submit-btn:hover {
    background: #218838;
}

.reset-btn {
    background: #6c757d;
    color: white;
}

.reset-btn:hover {
    background: #5a6268;
}

#message {
    display: none;
    padding: 12px;
    margin-bottom: 18px;

    border-radius: 6px;
    text-align: center;
    font-size: 14px;
}

.error {
    display: block !important;
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.success {
    display: block !important;
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

@media (max-width: 480px) {
    .form-container {
        padding: 20px;
    }

    h2 {
        font-size: 22px;
    }
}